<mat-toolbar color="primary">
  <span class="pointer" routerLink="./"> {{ appName }}</span>
  <span class="spacer"></span>
  <span><button mat-button (click)="onFetchData()">Get Data</button></span>
</mat-toolbar>
