<form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
  <input type="hidden" formControlName="id"/>
  <mat-form-field appearance="fill">
    <mat-label>Name</mat-label>
    <input matInput formControlName="name" [value]="heroForm.controls.name.value | capitalize">
    <mat-error *ngIf="heroForm.controls.name.errors?.required">Required*</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Team</mat-label>
    <mat-select formControlName="team">
      <mat-option value="marvel">MARVEL</mat-option>
      <mat-option value="dc">DC</mat-option>
    </mat-select>
    <mat-error *ngIf="heroForm.controls['team'].errors?.required">Select a Team*</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description"></textarea>
    <mat-error *ngIf="heroForm.controls.description.errors?.required">Required*</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Image</mat-label>
    <input matInput formControlName="image" #imagePath>
    <mat-error *ngIf="heroForm.controls['image'].errors?.required">Required*</mat-error>
  </mat-form-field>
  <span class="button" *ngIf="editMode">
    <button mat-raised-button type="submit" color="primary">Save</button>
  </span>
  <ng-container>
    <img [src]="imagePath.value" class="img-responsive" />
  </ng-container>
</form>
