.loader {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    background: rgba(51,51,51,0.7);
    z-index: 9999;
}

.loader .loader-circle {
    position: fixed;
    left: 50%;
    top: 50%;
    box-sizing: border-box;
    border: 10px solid rgb(41, 196, 235);
    border-radius: 50%;
    border-top: 10px solid #1072ce;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    -ms-animation: spin 1s linear infinite;
    -o-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}