<ng-container *ngIf="heroes.length > 0">
  <mat-form-field appearance="fill">
    <mat-label>Search</mat-label>
    <input matInput #searchText>
  </mat-form-field>
  <table mat-table [dataSource]="heroes | autosearch:searchText.value " class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="team">
      <th mat-header-cell *matHeaderCellDef> Team </th>
      <td mat-cell *matCellDef="let element"> {{element.team | uppercase}} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element" class="actions">
        <button mat-raised-button [routerLink]="element.id">View</button>
        <button mat-raised-button color="primary" [routerLink]="element.id + '/edit'">Edit</button>
        <button mat-raised-button color="warn" (click)="onDelete(element.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="mt-10">
    <button mat-raised-button color="primary" routerLink="./new">New Hero</button>
  </div>

</ng-container>

<ng-container *ngIf="heroes.length == 0">
  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold">Mindata TEST</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Click into Get Data button to start</p>
    </div>
  </div>
</ng-container>
